/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
.fontTitle {
    font-family: 'Jomhuria';
    font-size:60px;
    color:white;
}

/********** Template CSS **********/
:root {
    --primary: #3CB815;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(../img/bg-icon.png) center center repeat;
    background-size: contain;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}
.btn-blue {
    background-color: royalblue !important;
    border-color: royalblue !important;
    color:white !important;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: #eeeeee;
    font-weight: 500;
    outline: none;
}

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: #0d6efd;
    }

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #eeeeee;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0 !important;
    right: 0 !important;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
    background-color: #0000007a;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 25px;
}

/*.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;*/
   /* left: 50%*//*;
    transform: translateX(-50%);
    background: var(--primary);
}

.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;*/
/*    left: 50%;
*/    /*transform: translateX(-50%);
    background: var(--secondary);
}*/

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}



/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -moz-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -ms-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -o-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-size: 20px 20px;
    transform: skew(20deg);
    z-index: 1;
}


/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item img {
    transition: .5s;
    height: 350px !important;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item small a:hover {
    color: var(--primary) !important;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 300px;
    height: 250px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
/*    background: var(--primary) !important;
*/}

/*.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}*/

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 100px 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.backgroundColor
{
    margin-top:-100px;
}
.txt-Title
{
    font-size:50px;
    font-weight:900;
}
/*** service start ***/
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: #3cb81575;
    border-radius: 8px;
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
    height:300px;
}

    .service-item .service-content-icon i,
    .service-item .service-content-icon p {
        transition: 1s;
    }

.service-item:hover .service-content-icon i {
    color: var(--bs-dark) !important;
}

.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}

.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white) ;
    color: #3cb815!important; 
    font-weight:bolder ;
}
.service-item:hover .service-content-icon a.btn-primary h4 {
    color: #3cb815 !important;
    font-weight: bolder ;
}
.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}
/*** Services End ***/


/* teminal start */
.testimonials{
	background-color: #f33f02;
	position: relative;
	padding-top: 80px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	}
}
#customers-testimonials {
	.item-details{
		background-color: #333333;
		color: #fff;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 14px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

/* terminal end */

/*  start card */
.deck{
  margin:15px;
  width:270px;
  height:380px;
  position:relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  font-family:verdana;
  border-radius:10px;
}
.card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: 10px;
    cursor: pointer;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #dee2e6;
    border-radius: 10px;
}
.back {
    overflow: hidden;
    z-index: -1;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;
    background-color: #3cb81578;
    /*	  background: url('https://i.imgur.com/W3tra4F.gif');
*/ -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
   
}
.front, .back{
  transition: all .5s linear;
}
.front{
/*  background-image:url('https://i.imgur.com/W3tra4F.gif');
*/  z-index:1;
  box-shadow: 5px 5px 5px #aaa;
}
.back{
  box-shadow: 0 0 0 #aaa;
}
.flipped, .hovercard:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  .front{
    box-shadow:0 0 0 #aaa;
  }
  .back{
    box-shadow: 5px 5px 5px #aaa;
  
}
.bottext{
  position:absolute; 
  color:whitesmoke;
  width:100%; 
  height:100px; 
  bottom:0; 
  border-radius:0 0 10px 10px; 
  text-align:center;
  padding:10px;


}
.rad-button{
  border:2px solid gray;
  color:gray;
  width:90px;
  background-color:rgba(255, 255, 255, .3);
  padding:10px;
  border-radius:4px;
  cursor: pointer;
  position:absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 110px;
  -webkit-transition:all .5s linear;
  transition:all .5s linear;
}
.rad-button:hover{
  color:gray;
  background-color:rgba(255, 255, 255, 1);
}

.front {
    text-align: center;
    color: whitesmoke;
}
.back{
 
    margin:0;
    border-radius:10px 10px 0 0;
    padding:10px;
    text-align:center;
    color:whitesmoke;
  }

  
      .botprice{
    position:absolute;
    bottom:30px;
    border-radius:0 0 10px 10px;
    text-align:center;
    width:100%;
    padding:15px;
    color:whitesmoke;

    }    

.return {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    padding: 5px;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    background-color: darken(whitesmoke, 10%);
    font-size: 18px;
}

/* about start */
.deal {
    position: relative;
    background: url(../img/cover.jpg) center center no-repeat;
    background-size: 100% 100%;
}

/* about end */

/*********************************
8. Benefit
*********************************/

.benefit {
    margin-top: 0px;
    margin-bottom: 25px;
    width: 100%;
    background-color: #f3f3f3;
}

.benefit_row {
    padding-left: 15px;
    padding-right: 15px;
}

.benefit_col {
    padding-left: 0px;
    padding-right: 0px;
}

.benefit_item {
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #FFFFFF;
    padding-left: 25px;
}

.benefit_col:last-child .benefit_item {
    border-right: none;
}

.benefit_icon i {
    font-size: 30px;
    color: #fe4c50;
}

.benefit_content {
    padding-left: 22px;
}

    .benefit_content h6 {
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .benefit_content p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0px;
        color: #51545f;
    }


/* start product offer */


.product_offer {
    background: url(../img/product_offer.jpg) center center no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 660px;
    position: relative;
}
/*.count_down {
    width: 475px;
    position: relative;
    transform: translateX(235px);
    background: #94d87f;
    margin: 0px auto;
}*/
.count_down {
    width: auto;
   opacity:80%;
    background: #94d87f;
    margin: 0px auto;
    margin-top: 0px;
    bottom: 0px;
    transform: translate(-54%, 0%) !important;
}
.btnShop {
    border-radius: 3px;
    background-color: #fff;
    color: #3cb815;
    font-weight: bolder;
    font-size: 16px;
    bottom: 7px !important;
    position: absolute;
    width: 50%;
    font-family: cursive;
}
.inner_content {
    padding: 195px 40px 63px;
}
.offer2 {
    top: 19%;
    left: 40px;
    background-color: red;
}

.offer-text {
    position: absolute;
    top: 13%;
    left: 40%;
    z-index: 99;
}

.offer-text {
    height: 80px;
    width: 35px;
    position: absolute;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    display: grid;
    left: 15%;
    font-weight: 600;
    background: rgb(255, 20, 92);
    place-items: center;
    font-size: 12px;
}

.offer-text.offer2::before {
    border-color: transparent transparent rgb(148 216 127);
}
.offer-text::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 17.5px 8px;
    border-color: transparent transparent rgb(32, 34, 39);
}
.product__countdown-inner::before {
    position: absolute;
    left: 35px;
    height: 3px;
    width: 100px;
    content: "";
    background: rgb(255, 255, 255);
}

.product__countdown-inner ul li {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: "Futura Std Book";
    display: inline-block;
    margin-right: 7px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 1px;
}


/* customer review */
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.testimonial-carousel .owl-item .testimonial-item img {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin: 100px 82px 20px;
}
.HeaderImg {
    width: 80% !important;
    height: 60% !important;
    margin-top: 100px !important;
    margin: 50px 18px 50px !important;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.reviews {
    color: #f9d71c;
}

/* start owl-carousel */
.owl-carousel .owl-prev {
    left: -10px;
}
.owl-carousel .owl-next {
    right: -10px;
}

/* end owl-carousel */
